body{
    margin: 0;
}

.topDiv {
    background-color: #1B262C;
    border: 10px;
    padding: 20px;
    height: 200px;
    width: 200px;
}

.nameH1 {
    color: #BBE1FA;
    margin-top: 0;
}

.nameP {
    color: #BBE1FA;
}

.midDiv {
    background-color: #0F4C75;
    border: 20px;
    height: 200px;
    width: 200px;
    margin-left: 240px;
}

.bottDiv {
    background-color: #3282B8;
    border: 10px;
    height: 200px;
    width: 200px;
    margin-left: 440px;
}